[TWITTER]
;Your API key. Required.
api_key=

;Your API secret key. Required.
api_secret=

;Your access key. Required.
access_key=

;Your access secret key. Required.
access_secret=

;Your ISP's advertised download speed. Required.
pay_down=1000

;Your ISP's advertised upload speed. Required.
pay_up=1000

;Minimum download speed to send tweet
min_down=750

;Your ISP's Twitter handle. Required.
isp_handle=@Comcast

;Your location. Required.
location=New York

;Message to add at the end of tweet. Optional.
additional_message=@ComcastCares @xfinity #comcast #speedtest